@charset "utf-8";
/* CSS Document */

body{
	background-attachment: fixed;
	background-position: center top;
	overflow-x: hidden;
	background-color:#154383;
}

.central{
	margin-top: 10px;
}

.nav-wrapper{
	background-color: white;
	border-width: 0;
}

.logos-redes{
	min-height: 50px;
}

.logos-redes:hover{
	background: white;
}

.boton-nav{
	margin-left: 5px;
	margin-right: 5px;
}

.logo{
	border-radius: 5px;
}

.slogan{
	color: #fff;	
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .slogan, .redes-sociales{
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    .boton-nav-texto{
        display: none;
    }
}

.comentario{
	color: #FFF;
}

.coloh{
	color: #fff;
}

.validate{
	color: #fff;
}
